<div id="top-header">
<div id="top-bar">
 <a href="http://ifhub.ru"><span style="background-color:rgb(200,89,78);color:#ffffff">if</span><span style="color:#000000">Hub</span><span style="color:#8f8f8f;">.ru</span></a> 
 | <a href="http://ifprint.org"><span style="background-color:rgb(200,89,78);color:#ffffff">IF</span><span style="color:#000000">print</span><span style="color:#8f8f8f;font-size:90%">.org</span></a> 
 | <a href="http://instead-games.ru"><span style="color:#000000">Instead • games</span></a>
 | <a href="http://ifiction.ru"><span style="color:rgb(123, 164, 91);">iFiction.Ru</span></a>
</div>
</div>

<div id="header">
{% if page.lang == 'ru' %}
<a id="go-back-home" href="/ru">
{% else %}
<a id="go-back-home" href="/index.php">
{% endif %}
<h1>INSTEAD</h1>
<h2>Simple Text Adventure, The Interpreter </h2>
<h3>For Unix and Windows</h3>
</a>

<div id="top-block">
<div id="search-box">
<script>
  (function() {
    var cx = '006266150489105462413:ef0ineqy-pk';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
</div>

<div id="buttons">
<a class='donate-link' href="{% if page.lang != 'und' and link.external != true %}/{{ page.lang }}{% endif %}/donate">{%t Donate %}</a>
<a class='download-link' href="{% if page.lang != 'und' and link.external != true %}/{{ page.lang }}{% endif %}/download">{%t Download %}</a>
</div>

</div> <!-- top block -->

</div> <!-- header -->

