
<div class="block" id="menu">
{% if page.lang == 'ru' %}
	<a class="flag" href="/"><img src="/images/gb.png"></a> <a class="flag" href="/ru"><img src="/images/ru.png"></a>
{% else %}
	<a class="flag" href="/ru"><img src="/images/ru.png"></a> <a class="flag" href="/"><img src="/images/gb.png"></a>
{% endif %}
  {% for link in site.links %}
    <a class="menu" target="{% if link.external %}_top{% else %}_top{% endif %}" class="main" href="{% if page.lang != 'und' and link.external != true %}/{{ page.lang }}{% endif %}{{ link.url }}">{%t link.name %}</a>
  {% endfor %}
</div>



<!-- <a class="right" href="xxx">rus</a> -->
