<div class="block" id="menu">
{% if page.lang == 'ru' %}
	<a id="en-lang" class="flag" href="/index.html"><img alt="en" src="/images/gb.png"></a> <a class="flag" id="ru-lang" href="/ru"><img alt="ru" src="/images/ru.png"></a>
{% else %}
	<a id="ru-lang" class="flag" href="/ru"><img alt="ru" src="/images/ru.png"></a> <a class="flag" id="en-lang" href="/index.html"><img alt="en" src="/images/gb.png"></a>
{% endif %}
  {% for link in site.links %}
    {% capture rlink %}/{{page.lang | replace: 'und',''}}{{link.url}}/{% endcapture %}
    {% capture rlink %}{{rlink | replace: '//','/' | replace: '//','/'}}{% endcapture %}
    {% capture llink %}{{page.url | replace: '//','/' | replace: 'index.html', ''}}{% endcapture %}
    {% if llink == rlinkx %}
	{% assign class = 'menu-active' %}
    {% else %}
	{% assign class = 'menu' %}
    {% endif %}
    <a class="{{ class }}" target="{% if link.external %}_top{% else %}_top{% endif %}" href="{% if page.lang != 'und' and link.external != true %}/{{ page.lang }}{% endif %}{{ link.url }}">{%t link.name %}</a>
  {% endfor %}
</div>
<!-- <a class="right" href="xxx">rus</a> -->

<script type="text/javascript">
document.getElementById('ru-lang').onclick = function()
{
	var now = new Date(); 
	var time = now.getTime();
	time += 5 * 365 * 24 * 3600 * 1000; now.setTime(time);
	document.cookie="lang=ru; expires=" + now.toUTCString() + "; path=/";
}
document.getElementById('en-lang').onclick = function()
{
	var now = new Date(); var time = now.getTime();
	time += 5 * 365 * 24 * 3600 * 1000; now.setTime(time);
	document.cookie="lang=en; expires=" + now.toUTCString() + "; path=/";
}
</script>
