<div>
<form action="http://google.com/search" method="get">
<!--  <fieldset role="search"> -->
  <!-- change the "value" attribute below to point to your site -->
  <input type="hidden" name="q" value="site:yoursite.com"/>
  <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  <input id="searchsubmit" type="submit" value="Find"></input>
<!--  </fieldset> -->
</form>
</div>
<h2>Donate</h2>
<div align="right">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="JTCNMD4SWZG5G">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <form  id="donateform" action="https://money.yandex.ru/charity.xml" method="post">
    <!-- <a href="http://money.yandex.ru/">Yandex</a> -->
    <!-- <input type="hidden" name="CompanyLink" value="http://instead.syscall.ru"/>
    <input type="hidden" name="CompanyName" value="INSTEAD"/> -->
    <input type="hidden" name="to" value="41001612955830"/>
    <input type="hidden" name="CompanyLink" value="http://instead.syscall.ru"/>
    <select name="CompanySum"><option value="1">1 руб</option><option value="10">10 руб</option><option value="25">25 руб</option><option value="100">100 руб</option><option value="500">500 руб</option><option value="1000">1000 руб</option></select>
    <input id="donatesubmit" type="submit" value="Yandex Money"/>
    </form>
    <!-- <a href="http://vkontakte.ru/club18020281"><img src="<?php bloginfo('template_directory'); ?>/img/vk.png" alt="Присоединяйтесь!" /></a>
    <a href="http://twitter.com/peter_ru"><img src="<?php bloginfo('template_directory'); ?>/img/twitter.png" alt="Follow us!" /></a> -->
    <g:plusone size="medium" href="http://instead.syscall.ru"></g:plusone>
</div>
<h2>Download</h2>
