h1, h2, h3, h4, h5, strong, b {
  font-weight: 600; }

html, body {
  height: 100%; }

body {
  background: #f9f9f9;
  color: #303030;
  font-family: 'Open Sans', Verdana, sans-serif, Helvetica;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  padding: 0;
  margin: 0; }
  body, body * {
    -webkit-font-smoothing: antialiased; }

img {
  border: none; }

#go-back-home {
    text-decoration: none;
    color: #000;
    background: url('/images/logo.png') no-repeat scroll left 8px transparent;
    display: inline-block;
    padding: 16px 0px 8px 90px;
//    margin: 0px 0px 15px -4px;
//    height: 90px;
    float: left;
    max-width: 450px;
}

.capitalize {
  text-transform: capitalize; }

.upcase {
  text-transform: uppercase; }

.downcase {
  text-transform: lowercase; }

.hide {
  display: none; }

.a-r {
  text-align: right; }

.a-c {
  text-align: center; }

.small {
  font-size: 11px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.muted {
  color: #8f8f8f; }

.colour-1 {
  color: #cc9944; }

.colour-2 {
  color: #925; }

.colour-3 {
  color: #448844; }

.text-big {
  font-size: 24px;
  line-height: 1em; }

ol, ol li {
  padding: 0;
  margin: 0; }

blockquote {
  margin: 0;
  font-style: normal !important; }

header {
  text-align: center; }

footer {
  width: 100%;
//  max-width: 600px;
  line-height: 2em;
  margin: auto;
  padding-bottom: 30px;
  text-align: center; }
  footer * {
    color: #797979; }


#container {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
//  max-width: 600px;
  background: #fff;
  margin: 0px auto 16px;
  border-radius: 7px;
  border: 1px solid #eee;
  position: relative; 
//  float:left; 
  }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  #container .block {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 30px 40px 24px;
    text-align: center; }
    #container .block:first-child, #container .block + .block {
      border-top: 0; }
    #container .block:last-child {
      border-bottom: 0; }
    #container .block a.main {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      padding: 2px 2px;
      margin-right: 12px;
      margin-bottom: 6px; }
      #container .block a.main:last-of-type {
        margin-right: 0; }
    #container .block .button {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      height: 20px;
      overflow: hidden; }

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-width: 0;
  border-style: solid;
  padding: 30px 60px;
  margin: auto; }

a, .as-link {
  text-decoration: none;
  color: #269;
  line-height: 1.4em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  a.main, a:hover, .as-link.main, .as-link:hover {
    color: #1d5884;
    text-decoration: underline;
//    color: rgb(204, 52, 45);
/*    background-image: url(/images/line.png); 
    background-repeat: repeat-x;
    background-position: left bottom;*/ } 
  a.big-button, .as-link.big-button {
    min-width: 30%;
    border-radius: 3px;
    -webkit-transition: all, 0.2s;
    -moz-transition: all, 0.2s;
    -ms-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
    text-align: center;
    border-width: 0;
    border-style: solid;
    border-color: #8ab;
    background: #6f8f9f;
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1); }
    a.big-button:hover, .as-link.big-button:hover {
      background: #608090; }
    a.big-button:active, .as-link.big-button:active {
      box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1); }
    a.big-button.red, .as-link.big-button.red {
      border-color: #ddacac;
      background: #a65; }
      a.big-button.red:hover, .as-link.big-button.red:hover {
        background: #b76; }
    a.big-button.gray, .as-link.big-button.gray {
      border-color: #f4f4f4;
      color: #ffffff;
      background: #565656; }
      a.big-button.gray:hover, .as-link.big-button.gray:hover {
        background: #676767; }
    a.big-button.blue, .as-link.big-button.blue {
      border-color: #ace;
      background: #678; }
      a.big-button.blue:hover, .as-link.big-button.blue:hover {
        background: #789; }
    a.big-button.green, .as-link.big-button.green {
      border-color: #ddeed0;
      background: #696; }
      a.big-button.green:hover, .as-link.big-button.green:hover {
        background: #797; }

hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0; }

ul.posts, ul.posts li {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none; }
ul.posts li {
  margin-bottom: 20px; }
ul.posts .datetime {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 130px;
  text-transform: uppercase;
  float: right;
  color: #999;
//  font-size: 10px;
  text-align: right; }

section.post {
  margin: 0 -60px;
  text-align: left;
  border-top: 0;
  padding: 0; }
  section.post > * {
    padding: 0 60px; }
  section.post ul ul, section.post ul ol, section.post ol ul, section.post ol ol {
    margin-left: 20px;
    padding: 0; }
  section.post h1 {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
//    margin-bottom: 60px; 
}
    section.post h1 .date {
      color: #d0d0d0;
      font-size: 10px; }
  section.post iframe {
    width: 100%; }
  section.post iframe, section.post img {
    padding: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }

section.post, section > p {
  font-size: 14px;
  line-height: 1.6em; }
  section.post *, section > p * {
    max-width: 100%; }
  section.post em strong, section > p em strong {
    background-color: #ffffee;
    padding: 0 2px; }
  section.post blockquote, section > p blockquote {
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    color: #606060;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
    display: block;
    padding: 15px 60px; }
    section.post blockquote:hover, section > p blockquote:hover {
      color: #454545; }
    section.post blockquote:hover:before, section > p blockquote:hover:before {
      color: #b8cec7; }
    section.post blockquote:before, section > p blockquote:before {
      left: -3px; }
    section.post blockquote:after, section > p blockquote:after {
      right: -2px; }
    section.post blockquote:before, section.post blockquote:after, section > p blockquote:before, section > p blockquote:after {
      content: "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^";
      font-size: 24px;
      overflow: hidden;
      position: absolute;
      top: 0px;
      bottom: 0px;
      line-height: 0.4em;
      word-break: break-all;
      color: #d0dfda;
      display: block;
      width: 7px !important;
      white-space: normal; }
  section.post li .highlight, section > p li .highlight {
    padding: 0 10px; }
  section.post li p, section > p li p {
    margin-bottom: 5px; }

.highlight {
  margin: 0;
  padding: 0; }

pre {
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;
  line-height: 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

code {
  font-size: 13px;
  color: #eee;
  background: #39382e;
  padding: 2px 4px 3px;
  border-radius: 2px;
  line-height: 1.3em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }

img {
  max-width: 100%; }
  img.half {
    width: 50%; }

.signoff {
  margin-top: 30px; }
  .signoff img {
    width: 20px; }

.paging a {
  opacity: 0.25; }
.paging a:hover {
  opacity: 0.7;
  background: none; }
.paging .left, .paging .right {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 60px; }
.paging .left {
  margin-left: -340px; }
.paging .right {
  margin-left: 320px; }

#wrap {
    max-width:800px;
    margin:0 auto;
}

#menu {
    width:100%;
    color: rgb(255,255,255);
    padding: 0px 0px 4px 0px;
    border-top: 5px solid rgb(204, 52, 45);
}

#menubottom {
    width:100%;
    color: rgb(0,0,0);
    padding: 0px 0px 4px 0px;
    border-top: 1px solid rgb(204, 52, 45);
    text-align: center;
//    background-color: #f0f0f0;
}

a.flag {
    padding: 0px 4px 0px 4px;
}

a.menu, a.menu-active {
    color: rgb(115,115,115);
    padding: 0px 8px 0px 8px;
    font-weight: bold;
}

a.menu-active, a.menu:hover  {
    background-color: #269; //rgb(34, 102, 153);
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-decoration: none;
}

#menubottom a {
    text-decoration: none;
    color: rgb(115,115,115);
    padding: 0px 8px 0px 8px;
}

#menubottom a:hover {
//    color: rgb(34, 102, 153);
    color: rgb(115,115,115);
    text-decoration: underline;
}

#menu a.right {
    float:right;
}


#left {
    width: 100%;
    position: relative; 
    float:left;
}

#sidebar {
    min-width:200px;
    background:rgb(249, 249, 249);
    float:right;
    padding: 8px 0px 0px 0px;
}

#sidebar h2 {
    font-size: 100%;
    font-weight: normal;
    color: rgb(221, 221, 221);
    background-color: rgb(116, 116, 116);
    padding: 0px 8px;
    line-height: 180%;
    margin: 0px 0px 10px;
}

#sidebar input {
    margin: 0px;
    padding: 0px;
}

#sidebar select, input.search {
    max-width: 140px;
    margin: 0px 5px 0px 0px;
    background-color: rgb(221, 221, 221);
    padding: 3px 4px;
    border: 1px solid rgb(116, 116, 116);
    color: rgb(96, 96, 96);
    cursor: text;
}
#sidebar select {
    max-width: 70px;
}

#donatesubmit, #searchsubmit {
    background-color: rgb(116, 116, 116);
    margin: 0px;
    padding: 2px 4px;
    border: 1px solid rgb(116, 116, 116);
    color: rgb(221, 221, 221);
}

#search-form {
    float:right;
}

#search-form .field {
    font-size: 13px;
    line-height: 13px;
    padding: 0px;
    border: 1px solid rgb(176, 176, 164);
    width: 180px;
    box-shadow: 0px 1px 2px rgb(221, 221, 221) inset;
    border-radius: 3px;
}

#social, #search-box {
    padding: 0px;
//    float: right;
    text-align: right;
}

#top-block {
    padding: 16px 0px;
    max-width: 300px;
    float: right;
    text-align: right;
//    position:absolute;
//    top: 10px;
//    bottom: 0px; 
//    right: 0px;
}

#top-bar {
    padding: 0px 0px 0px 0px;
    font-weight: bold;
}
#top-right {
    float: right;
}

#top-left {
    float: left;
}

#top-header {
    text-align: right;
    padding: 0px 0px 0px 4px;
//    background-color: #f0f0f0;
}
#top-bar a {
}
#top-bar a:hover {
    text-decoration: none;
}
#header {
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: 100px;
}
#header h1 {
    font-size: 36px;
    margin: 10px 0px;
    color: #000;
}

#header h2 {
    margin: 5px 0px 0px;
    font-size: 14px;
//    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #585450;
}

#header h3 {
    margin: 5px 0px 0px;
    font-size: 12px;
    font-style: italic;
    color: #585450;
}

a.donate-link, a.download-link {
    display: inline-block;
    background: #CC342D;
    color: #FFF;
    padding: 0px 16px;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    margin: 0px 3px 0px 0px;
    text-shadow: none;
    border: 2px solid #9B1C16;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0px 2px 0px #9B1C16;
}

/*a.download-game {
    display: inline-block;
    background: #CC342D;
    color: #FFF;
    padding: 0px 16px;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    text-shadow: none;
    border: 2px solid #9B1C16;
    font-weight: normal;
    border-radius: 6px;
    width: 40px;
}*/

a.download-game {
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color:#74ad5a;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    border-radius: 6px;
    padding: 0px 10px 0px 10px;
    min-width: 60px;
    text-align: center;
    line-height: 20px;
}

a.donate-link {
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    background-color:#74ad5a;
    border:2px solid #3b6e22;
    box-shadow: 0px 2px 0px #9acc85;
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

img.screenshot {
    border: 1px solid #333333;
}

tr.odd {
    background-color: #DDE;
    text-align: center;
    font-size: 13px;
}

tr.even {
    text-align: center;
    font-size: 13px;
}

table.download td {
    padding: 8px;
    min-width: 64px;
}